﻿@using Orbelite.Principal.WebSeguridad.Servicios.MenuUrl.Dtos
@model List<MenuUrlAdminDto>

@{
    var padresUrl = Model.Where(m => m.IdMenuUrlPadre == null).OrderBy(e => e.Orden).ToList();
}


<div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
    <!--begin::Header Menu-->
    <div id="kt_header_menu" class="header-menu header-menu-left header-menu-mobile header-menu-layout-default">
        <!--begin::Header Nav-->
        <ul class="menu-nav">
            <li class="menu-item">
                <a href="@Url.Page("/Admin/Index")" class="menu-link">
                    <span class="menu-text">Inicio</span>
                    <i class="menu-arrow"></i>
                </a>
            </li>

            @foreach (var item in padresUrl)
            {
                var hijos = Model.Where(m => m.IdMenuUrlPadre == item.IdMenuUrl).OrderBy(e => e.Orden).ToList();

                <li class="menu-item @(hijos.Count > 0 ? "menu-item-submenu menu-item-rel":"" ) " data-menu-toggle="click" aria-haspopup="true">
                    <a href="@item.Url" class="menu-link  @(hijos.Count > 0 ? "menu-toggle":"" )">
                        <span class="menu-text">@item.Nombre</span>
                        <span class="menu-desc"></span>
                        <i class="menu-arrow"></i>
                    </a>
                    @if (hijos.Count > 0)
                    {
                        <div class="menu-submenu @(hijos.Count > 0 ? "menu-submenu-classic menu-submenu-left":"" )">
                            <ul class="menu-subnav">
                                @foreach (var item2 in hijos)
                                {
                                    var hijos3 = Model.Where(m => m.IdMenuUrlPadre == item2.IdMenuUrl).OrderBy(e => e.Orden).ToList();
                                    <li class="menu-item @(hijos3.Count > 0 ? "menu-item-submenu":"") " data-menu-toggle="hover" aria-haspopup="true">
                                        <a href="@(hijos3.Count > 0 ? "javascript:void(0);":$"{Url.Content(item2.Url)}")" class="menu-link @(hijos3.Count > 0 ? "menu-toggle":"")">
                                            <span class="menu-text"> @item2.Nombre</span>
                                            @if (hijos3.Count > 0)
                                            {
                                                <i class="menu-arrow"></i>
                                            }
                                            else
                                            {
                                                <span class="menu-desc"></span>
                                            }
                                        </a>
                                        @if (hijos3.Count > 0)
                                        {
                                            <div class="menu-submenu menu-submenu-classic menu-submenu-right">
                                                <ul class="menu-subnav">
                                                    @foreach (var item3 in hijos3)
                                                    {

                                                        <li class="menu-item" aria-haspopup="true">
                                                            <a href="@Url.Content(item3.Url)" class="menu-link">
                                                                <i class="menu-bullet menu-bullet-dot">
                                                                    <span></span>
                                                                </i>
                                                                <span class="menu-text">@item3.Nombre</span>
                                                            </a>
                                                        </li>
                                                    }

                                                </ul>
                                            </div>
                                        }

                                    </li>

                                }

                            </ul>
                        </div>
                    }

                </li>
            }
        </ul>
        <!--end::Header Nav-->
    </div>
    <!--end::Header Menu-->
</div>