﻿@page "{ReturnUrl?}"
@model Orbelite.Erp.SitioWeb.Pages.Admin.LoginModel
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<!--begin::Head-->
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <meta name="description" content="Login page example" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="canonical" href="https://keenthemes.com/metronic" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Custom Styles(used by this page)-->
    <link href="~/temas/metronic/tema2/assets/css/pages/login/classic/login-4.css" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="~/temas/metronic/tema2/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/temas/metronic/tema2/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/temas/metronic/tema2/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <!--end::Layout Themes-->
    <link rel="shortcut icon" href="@Url.Content("~/images/xkaner/xkaner.png")" />
</head>
<!--end::Head-->
<!--begin::Body-->

<body id="kt_body" style="background-image: url(@Url.Content("~/temas/metronic/tema2/assets/media/bg/bg-10.jpg"))" class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">
    <style>
        .btn-iniciar {
            background: linear-gradient(45deg, #c4242a, #f50606) !important;
            border-color: #eb0d0e !important;
        }

            .btn-iniciar:hover {
                background: #000000 !important;
                border-color: #000 !important;
            }


        #icono-qr {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
        }

        .boton-actualizar-qr {
            color: #fff;
            text-align: center;
            font-size: 13px;
            font-weight: 700;
            line-height: 29px;
            font-family: Arial,sans-serif;
            background-color: #FFC734;
            border-radius: 5px;
            border: 0;
            padding: 0 10px 0 11px;
        }

        .boton-cerrar-qr {
            color: #fff;
            text-align: center;
            font-size: 13px;
            font-weight: 700;
            line-height: 29px;
            font-family: Arial,sans-serif;
            background-color: #ee1921;
            border-radius: 5px;
            border: 0;
            padding: 0 10px 0 11px;
        }

        .boton-actualizar-qr:hover, .boton-actualizar-qr:focus {
            background-color: #d2b363 !important;
        }

        .boton-cerrar-qr:hover, .boton-cerrar-qr:focus {
            background-color: #ee1921a3 !important;
        }


        .pasos-qr li {
            text-align: left;
            font-size: 17px;
            margin-bottom: 10px;
        }

        .pasos-qr-titulo {
            font-size: 18px;
            font-weight: bold;
            color: #76838f;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
    <input id="__ID_QR_GENERADO" type="hidden" />
    <input id="__HD_QR_GENERAR" type="hidden" value="@Url.Action("GenerarQR", "Auth")" />
    <input id="__HD_LOGIN_QR" type="hidden" value="@Url.Content("~/api/admin/Auth/LoginQR/")" />
    <input id="__HD_ADMIN" type="hidden" value="@Url.Page("/Admin/Index")" />
    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Login-->
        <div class="login login-4 login-signin-on d-flex flex-row-fluid" id="kt_login">
            <div class="d-flex flex-center flex-row-fluid bgi-size-cover bgi-position-top bgi-no-repeat" style="background-image: url('@Url.Content("~/temas/metronic/tema2/assets/media/bg/bg-3.jpg")');">
                <div class="login-form text-center p-7 position-relative overflow-hidden">
                    <!--begin::Login Header-->
                    <div class="d-flex flex-center mb-0">
                        <a href="@Url.Page("/Admin/Index")">
                            <img src="@Url.Content("~/images/orbelite-03.png")" class="max-h-75px" alt="erp" />
                        </a>
                    </div>
                    <!--end::Login Header-->
                    <!--begin::Login Sign in form-->
                    <div class="login-signin">
                        <div class="mb-10">
                            <h3>Bienvenido</h3>
                            <div class="text-muted font-weight-bold">Ingresa tus credenciales</div>
                        </div>
                        <div class="alert alert-danger mb-5 p-5" role="alert" style="display:none;" id="errorContenedor">
                            <h4 class="alert-heading">Mensaje</h4>
                            <div class="mensajes"></div>
                        </div>

                        <form class="form" id="frmLogin" action="@Url.Action("Login", "Auth")">
                            <div class="form-group mb-5">
                                <input class="form-control h-auto form-control-solid py-4 px-8" type="text" placeholder="Usuario" id="tbUsuario" />
                            </div>
                            <div class="form-group mb-5">
                                <input class="form-control h-auto form-control-solid py-4 px-8" type="text" placeholder="Documento" id="tbDni" />
                            </div>

                            <div class="form-group mb-5">
                                <input class="form-control h-auto form-control-solid py-4 px-8" type="password" placeholder="Contraseña" id="tbPassword" />
                            </div>

                            <div class="d-flex flex-wrap justify-content-center">
                                <div class="col-sm-6 col-12 px-2">
                                    <button id="btnIngresar" class="w-100 btn btn-primary font-weight-bold px-9 py-4 my-3  btn-iniciar" type="button">Ingresar</button>
                                </div>
                                <div class="col-sm-6 col-12 px-2">
                                    <button type="button" id="btnIngresarConApp" class="w-100 btn btn-warning btnSimple px-9 py-4 my-3">Iniciar desde el App</button>
                                </div>
                            </div>

                            <div class="form-group mb-7">
                                <a href="@Url.Page("/Admin/Auth/OlvidoContrasenia")" class="font-weight-bold" style="color:#000;">¿Olvido su Contraseña?</a>
                            </div>

                            <div class="form-group">
                                <p id="loadingSucesso" style="display:none;text-align: left;padding: 4px 10px;border: 1px solid #b9c9f3;border-radius: 4px;color: #999;"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Cargando...</p>
                            </div>
                        </form>
                    </div>
                    <!--end::Login Sign in form-->
                </div>
            </div>
        </div>
        <!--end::Login-->
    </div>
    @*@await Html.PartialAsync("~/Pages/Shared/_Layout_Loading.cshtml")*@
    <!--end::Main-->
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
    <!--end::Global Config-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="~/temas/metronic/tema2/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/temas/metronic/tema2/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="~/temas/metronic/tema2/assets/js/scripts.bundle.js"></script>
    <script src="~/js/librerias/loading/jquery.loading.min.js"></script>
    <script src="~/js/librerias/utiles.js"></script>
    <script src="~/js/Admin/Auth/Login.js?dsf=sdfds"></script>
    <!--end::Global Theme Bundle-->
    <!--begin::Page Scripts(used by this page)-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnIngresar').click(function () {
                ingresarLogin();
            });

            $('#tbUsuario, #tbPassword, #tbDni').keyup(function (e) {
                if (e.keyCode == 13) {
                    ingresarLogin();
                }
            });
        });

        function ingresarLogin() {
            bloquearPantalla(null);
            $("#loadingSucesso").show();
            $("#errorContenedor").hide();

            var datos = {
                username: $("#tbUsuario").val(),
                password: $("#tbPassword").val(),
                dni: $("#tbDni").val()

            }

            realizarJsonPost($('#frmLogin').attr('action'), datos, loginSuceso, loginError)

        }


        function loginSuceso(resultado) {
            $("#loadingSucesso").hide();
            location.href = '@Url.Page("/Admin/Index")';
        }
        function loginError(jqXHR, textStatus, errorThrown) {
            $("#loadingSucesso").hide();
            manejarJsonBadRequest(jqXHR, 'errorContenedor');
        }

    </script>
    <!--end::Page Scripts-->
</body>
<!--end::Body-->
</html>


<div class="modal fade" id="exampleModalLoginQR" tabindex="-1" role="dialog" aria-labelledby="exampleModalLoginQR" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style=" margin-top: -10px; margin-right: -10px;" title="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="pasos-qr-titulo">Para Iniciar Sesión en Xkner Web:</div>
                        <ol class="pasos-qr">
                            <li>Abre tu App de Infraxion en tu teléfono</li>
                            <li>
                                <span dir="ltr" class="selectable-text invisible-space copyable-text">
                                    Toca
                                    <strong>
                                        <span dir="ltr" class="selectable-text invisible-space copyable-text">
                                            Configuraciones

                                            <span class="_3PxOr">
                                                <svg width="24" height="24" viewBox="0 0 24 24">
                                                    <rect fill="#F2F2F2" width="24" height="24" rx="3">
                                                    </rect>
                                                    <path d="M9.34 8.694a4.164 4.164 0 0 0-1.606 3.289c0 1.338.63 2.528 1.61 3.292l-1.46 2.527a7.065 7.065 0 0 1-3.052-5.82c0-2.41 1.206-4.54 3.048-5.816l1.46 2.528zm6.713 2.859c-.217-2.079-1.992-3.739-4.148-3.739-.578 0-1.128.116-1.628.329L8.819 5.617a7.042 7.042 0 0 1 3.086-.704c3.76 0 6.834 2.958 7.059 6.64h-2.91zm-1.065.43a3.083 3.083 0 1 1-6.166 0 3.083 3.083 0 0 1 6.166 0zm-6.164 6.364l1.458-2.523a4.153 4.153 0 0 0 1.623.322 4.154 4.154 0 0 0 4.12-3.524h2.922a7.062 7.062 0 0 1-7.042 6.426c-1.105 0-2.15-.25-3.081-.7zm11.197-7.21a7.88 7.88 0 0 0-.404-1.824l.286-.12a.527.527 0 0 0-.403-.973l-.29.12a8.176 8.176 0 0 0-1.197-1.77l.231-.23a.526.526 0 1 0-.744-.744l-.234.234a8.17 8.17 0 0 0-1.775-1.18l.13-.31a.526.526 0 1 0-.972-.403l-.12.313a8.463 8.463 0 0 0-1.995-.405v-.35A.533.533 0 0 0 12 2.97a.533.533 0 0 0-.535.526v.338a8.02 8.02 0 0 0-2.173.416l-.13-.313a.526.526 0 0 0-.972.402l.129.311a8.171 8.171 0 0 0-1.775 1.18l-.235-.235a.526.526 0 0 0-.743.744l.23.231A8.175 8.175 0 0 0 4.6 8.34l-.29-.12a.526.526 0 0 0-.403.971l.285.122a7.882 7.882 0 0 0-.404 1.824h-.322a.533.533 0 0 0-.526.534c0 .29.235.535.526.535h.28c.02.831.166 1.624.418 2.378l-.257.1a.523.523 0 1 0 .402.968l.252-.105a8.17 8.17 0 0 0 1.191 1.797l-.187.187a.526.526 0 1 0 .744.743l.184-.183a8.173 8.173 0 0 0 1.792 1.208l-.096.231a.526.526 0 1 0 .972.403l.096-.23c.698.24 1.436.387 2.208.428v.243c0 .29.244.526.535.526.29 0 .534-.235.534-.526v-.253a8.012 8.012 0 0 0 2.03-.417l.09.229a.523.523 0 1 0 .967-.403l-.096-.231a8.172 8.172 0 0 0 1.792-1.208l.184.183a.526.526 0 1 0 .743-.744l-.187-.186a8.174 8.174 0 0 0 1.191-1.798l.252.104a.526.526 0 1 0 .403-.971l-.257-.095a8.074 8.074 0 0 0 .417-2.378h.281c.29 0 .526-.244.526-.535a.533.533 0 0 0-.526-.534h-.323z" fill="#818B90">
                                                    </path>
                                                </svg>
                                            </span>
                                        </span>
                                    </strong> y selecciona <strong> escanear código</strong>
                                </span>
                            </li>
                            <li style="text-align:left;font-size: 17px">Cuando se active la cámara, apunta tu teléfono hacia esta pantalla para escanear el código</li>
                        </ol>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row registro-usuario">
                            <div class="col-sm-12">
                                <div id="icono-qr">
                                    <img id="img_qr" src='' alt="" width="210" height="210" />
                                </div>
                            </div>

                            <div class="col-sm-12" style="display: flex; flex-wrap: nowrap; justify-content: center;">
                                <button class="boton-actualizar-qr" id="btnGenerarNewQr"><i class="flaticon-refresh" style="color:#fff;"></i> VOLVER A GENERAR</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>