﻿@page
@model Orbelite.Erp.SitioWeb.Pages.Admin.Auth.OlvidoContraseniaModel
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<!--begin::Head-->
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <meta name="description" content="Login page example" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="canonical" href="https://keenthemes.com/metronic" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Custom Styles(used by this page)-->
    <link href="~/temas/metronic/tema2/assets/css/pages/login/classic/login-4.css" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="~/temas/metronic/tema2/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/temas/metronic/tema2/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/temas/metronic/tema2/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <!--end::Layout Themes-->
    <link rel="shortcut icon" href="@Url.Content("~/images/Landing/ibroker_icon.png")" />
</head>
<!--end::Head-->
<!--begin::Body-->

<body id="kt_body" style="background-image: url(@Url.Content("~/temas/metronic/tema2/assets/media/bg/bg-10.jpg"))" class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">
    <style>
        .btn-iniciar {
            background: linear-gradient(45deg, #c4242a, #f50606) !important;
            border-color: #eb0d0e !important;
        }

            .btn-iniciar:hover {
                background: #000000 !important;
                border-color: #000 !important;
            }
    </style>
    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Login-->
        <div class="login login-4 login-signin-on d-flex flex-row-fluid" id="kt_login">
            <div class="d-flex flex-center flex-row-fluid bgi-size-cover bgi-position-top bgi-no-repeat" style="background-image: url('@Url.Content("~/temas/metronic/tema2/assets/media/bg/bg-3.jpg")');">
                <div class="login-form text-center p-7 position-relative overflow-hidden">                    
                    <div class="d-flex flex-center mb-15">
                        <a href="@Url.Page("/Admin/Index")">
                            <img src="@Url.Content("~/images/xkaner.png")" class="max-h-75px" alt="" />
                        </a>
                    </div>
                    <div class="login-signin">
                        <div class="mb-5">
                            <h3>Recuperar Contraseña</h3>
                        </div>
                        <div class="alert alert-danger mb-1 p-5" role="alert" style="display:none;" id="errorContenedor">
                            <h4 class="alert-heading">Mensaje</h4>
                            <div id="errorCotenedorMensaje" class="mensajes"></div>
                        </div>
                        <div class="alert alert-success mb-1 p-5 mb-4" role="alert" id="successContenedor" style="display:none;">
                            <h4 class="alert-heading">Correcto</h4>
                            <div class="mensajes">Te enviamos un mensaje con el link para cambiar tu contraseña</div>
                            <div class="mensajes">Debes revisar tu correo electrónico ingresado</div>
                        </div>

                        <form class="form" id="frmLogin" action="@Url.Action("OlvidoContrasenia", "Auth")">
                            <div class="text-left text-muted font-weight-bold mb-2">Ingresa tu Usuario</div>
                            <div class="form-group mb-5">
                                <input class="form-control h-auto form-control-solid py-4 px-8" type="text" placeholder="Usuario" id="tbUsername" />
                            </div>
                            <div class="text-left text-muted font-weight-bold mb-2">Ingresa tu Correo Electrónico</div>
                            <div class="form-group mb-5">
                                <input class="form-control h-auto form-control-solid py-4 px-8" type="text" placeholder="Correo Electrónico" id="tbCorreoElectronico" />
                            </div>
                            <button id="btnIngresar" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4 btn-iniciar" type="button">Continuar</button>
                            <div class="form-group mb-5">
                                <a href="@Url.Page("/Admin/Login")" class="font-weight-bold">Iniciar sesión</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*@await Html.PartialAsync("~/Pages/Shared/_Layout_Loading.cshtml")*@
    <!--end::Main-->
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
    <!--end::Global Config-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="~/temas/metronic/tema2/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/temas/metronic/tema2/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="~/temas/metronic/tema2/assets/js/scripts.bundle.js"></script>
    <script src="~/js/librerias/loading/jquery.loading.min.js"></script>
    <script src="~/js/librerias/utiles.js"></script>
    <!--end::Global Theme Bundle-->
    <!--begin::Page Scripts(used by this page)-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnIngresar').click(function () {
                validarUsername();
            });

            $('#tbUsername, #tbCorreoElectronico').keyup(function (e) {
                if (e.keyCode == 13) {
                    validarUsername();
                }
            });
        });

        function validarUsername() {
            bloquearPantalla(null);
            $("#errorContenedor").hide();
            $("#successContenedor").hide();
            var datos = {
                username: $("#tbUsername").val(),
                correo: $("#tbCorreoElectronico").val()
            }

            realizarJsonPost($('#frmLogin').attr('action'), datos, loginSuceso, loginError)

        }


        function loginSuceso(resultado) {
            $("#successContenedor").show();
            $("#tbUsername").val("");
            $("#tbCorreoElectronico").val("");            
        }
        function loginError(jqXHR, textStatus, errorThrown) {
            
            $("#errorContenedor").show();
            var data = jqXHR.responseJSON;    
            var texto = "";
            if (data.mensajes.length > 0) {
                for (var i = 0; i < data.mensajes.length; i++) {
                    texto += data.mensajes[i] + "<br/>";
                }
            } else {
                texto = "Ocurrio un problema, comunicarse con soporte";
            }

            $("#errorCotenedorMensaje").html(texto);
            //manejarJsonBadRequest(jqXHR, 'errorContenedor');

        }

        

    </script>
    <!--end::Page Scripts-->
</body>
<!--end::Body-->
</html>