﻿fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 1px;
    border-style: double;
    border-color: threedface;
    border-image: initial;
}
legend {
    display: block;
    width: auto;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    font-size: 18px;
    font-weight: 500;
}

.deficiente {
    background-color: #F39C12 !important;
}
.normal {
    background-color: #5DADE2 !important;
}

.problemas-potenciales {
    background-color: #52BE80 !important;
}

.dudoso {
    background-color: #F7DC6F !important;
}

.perdidas {
    background-color: #E74C3C !important;
}



:root {
    --button-height: 3rem;
    --color-text: rgba(0,0,0,.25);
    --color-text-shadow: rgba(255,255,255,.15);
    --color-page-bg: #B9B5AA;
    --color-bg: #899095;
    --color-bg-light: #969DA3;
    --color-bg-dark: #7D878F;
    --color-overlay-light: rgba(255,255,255,.2);
    --color-overlay-medium: rgba(0,0,0,.1);
    --color-overlay-dark: rgba(0,0,0,.2);
    --color-tab-focus: rgba(255,255,255,.15);
}

.red-button {
    --color-bg: #E44E55;
    --color-bg-light: #E47479;
    --color-bg-dark: #710a0e;
}

.green-button {
    --color-bg: #00A07D;
    --color-bg-light: #00AF8A;
    --color-bg-dark: #034235;
}

.blue-button {
    --color-bg: #0066B4;
    --color-bg-light: #3981CA;
    --color-bg-dark: #04254e;
}

.yellow-button {
    --color-bg: #FFC054;
    --color-bg-light: #FFD996;
    --color-bg-dark: #936517;
}

.retro-button {
    position: relative;
    appearance: none;
    box-sizing: border-box;
    font-size: calc( var(--button-height) / 3 );
    font-family: "Open Sans", sans-serif;
    background: var(--color-bg);
    height: var(--button-height);
    min-width: var(--button-height);
    border-radius: calc( var(--button-height) / 2);
    border: 0;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--color-text);
    text-shadow: 1px 1px var(--color-text-shadow);
    cursor: pointer;
    margin: 6px 6px;
    letter-spacing: 0.1em;
    transition: all 200ms ease;
    box-shadow: -1px -1px 1px var(--color-bg), 0 0 0 4px var(--color-overlay-medium), 1px 1px 1px var(--color-bg-dark), inset 0 0 0 var(--color-overlay-dark), inset 0.5rem 0.5rem 0.25rem var(--color-bg-light);
}

    .retro-button::-moz-focus-inner {
        outline: none;
        border: none;
    }

    .retro-button:focus {
        outline: none;
        box-shadow: inset 1px 1px 1px var(--color-bg), 0 0 0 4px var(--color-overlay-dark), inset -1px -1px 1px var(--color-bg-dark), inset 0.5rem 0.5rem 0.75rem var(--color-bg-dark), inset 0.5rem 0.5rem 0.5rem var(--color-bg-dark);
    }

    .retro-button:hover {
        box-shadow: -1px -1px 1px var(--color-bg-dark), 0 0 0 4px var(--color-overlay-dark), 1px 1px 1px var(--color-bg-dark), inset 0 0 0 var(--color-overlay-dark), inset 0.5rem 0.5rem 0.25rem var(--color-bg-light);
    }

    .retro-button:active {
        box-shadow: inset 1px 1px 1px var(--color-bg), 0 0 0 4px var(--color-overlay-dark), inset -1px -1px 1px var(--color-bg-light), inset 0.5rem 0.5rem 0.75rem var(--color-bg-dark), inset 0.5rem 0.5rem 0.5rem var(--color-bg-light);
    }

    .retro-button::selection {
        outline: none;
        box-shadow: inset 1px 1px 1px var(--color-bg), 0 0 0 4px var(--color-overlay-dark), inset -1px -1px 1px var(--color-bg-dark), inset 0.5rem 0.5rem 0.75rem var(--color-bg-dark), inset 0.5rem 0.5rem 0.5rem var(--color-bg-dark);
    }

.presentation-content {
    text-align: center;
}

.presentation-title {
    color: rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.15);
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.top-button-group {
    display: flex;
    padding-bottom: 1rem;
}

    .top-button-group > * {
        flex: 1;
    }

.bottom-button-group {
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: -1px -1px 1px var(--color-bg-light), inset -1px -1px 1px var(--color-bg-dark);
}

.actived {
    box-shadow: inset 1px 1px 1px var(--color-bg), 0 0 0 4px var(--color-overlay-dark), inset -1px -1px 1px var(--color-bg-light), inset 0.5rem 0.5rem 0.75rem var(--color-bg-dark), inset 0.5rem 0.5rem 0.5rem var(--color-bg-light);
}

.portada-webs-sites {
    width: 100%;
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contentSitios .contentTitle {
    line-height: 18px;
    margin-bottom: 3px !important;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.contentSitios .contentDescription {
    display: block;
    height: 88px !important;
    overflow: hidden;
    line-height: 17px;
}

.imgen-pagina .btn.btn-light-primary {
    position: relative;
    z-index: 1;
}

.text-link {
    text-decoration: none;
    font-size:15px;
}
.text-link:hover {
    text-decoration: underline !important;
}

.ocultar{
    display:none;
}

.producto-imagen {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
}

.btn-close-circular {
    text-align: right;
    float: right;
    right: 10px;
    top: 10px;
    position: absolute;
    z-index: 1;
    background: #000 !important;
    border-radius: 100% !important;
    padding: 3px 7px 7px 8px !important;
}

.typeahead .tt-menu {
    width: 100%;
    min-width: 100% !important;
}

.img-ver-completa {
    width: 100% !important;
    height: 450px;
    padding: 10px !important;
    border-radius: 12px !important;
    border: 3px solid #e4e6ef;
}
    .img-ver-completa img {
        width: auto !important;
        height: 400px;
        margin: auto;
        object-fit: contain;
        max-width: 100%;
    }

.zoom {
    display: inline-block !important;
    position: relative !important;
    cursor: zoom-in !important;
}
    .zoom:after {
        content: '' !important;
        display: block !important;
        width: 33px !important;
        height: 33px !important;
        position: absolute !important;
        top: 0 !important;
        right: 0 !important;
        background: url(icon.png) !important;
    }

    .zoom img {
        display: block !important;
    }

        .zoom img::selection {
            background-color: transparent !important;
        }

@media (max-width: 767px) {
    .reponsive-right-to-left .text-right {
        text-align: left !important;
    }
}

.custom-input-file {
    cursor: pointer;
    min-height: 15px;
    overflow: hidden;
    position: relative;
}

    .custom-input-file .input-file {
        border: 10000px solid transparent;
        cursor: pointer;
        font-size: 10000px;
        margin: 0;
        opacity: 0;
        outline: 0 none;
        padding: 0;
        position: absolute;
        right: -1000px;
        top: -1000px;
    }

.size-img-200 {
    width: auto !important;
    height: 200px;
    margin: auto;
    object-fit: contain;
    max-width: 100%;
}




.bs-wizard {
    padding: 0 0 10px 0;
    margin: 40px auto;
}

    .bs-wizard > .bs-wizard-step {
        padding: 0;
        position: relative;
        width: 20%;
    }

        .bs-wizard > .bs-wizard-step + .bs-wizard-step {
        }

        .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
            color: #595959;
            font-size: 16px;
            margin-bottom: 5px;
        }

        .bs-wizard > .bs-wizard-step .bs-wizard-info {
            color: #999;
            font-size: 14px;
            padding: 0px 4px;
        }

        .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
            position: absolute;
            width: 50px;
            height: 50px;
            display: block;
            background: #fff;
            top: 45px;
            left: 50%;
            margin-top: -25px;
            margin-left: -25px;
            border-radius: 50%;
            border: 5px solid #93C232;
        }

        .bs-wizard > .bs-wizard-step > .progress {
            position: relative;
            border-radius: 0px;
            height: 5px;
            box-shadow: none;
            margin: 20px 0;
        }

            .bs-wizard > .bs-wizard-step > .progress > .progress-bar {
                width: 0px;
                box-shadow: none;
                background: #93C232;
            }

        .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
            width: 100%;
        }

        .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
            width: 0%;
        }

        .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
            width: 100%;
        }

        .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
            border: 5px solid #ebedf3;
        }

            .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
                opacity: 0;
            }

        .bs-wizard > .bs-wizard-step:first-child > .progress {
            left: 50%;
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step:last-child > .progress {
            width: 50%;
        }

        .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
            pointer-events: none;
        }


@media only screen and (max-width:440px) {
    .bs-wizard > .bs-wizard-step .bs-wizard-info {
        font-size: 9px;
    }
}

.box_formulario .conocimientos {
    width: 100%;
    margin-bottom: 10px;
}

    .box_formulario .conocimientos ul {
        display: inline-block;
        padding: 0;
    }

.fields ul:not(.autocomplete):not(.list) li, .form_inputs ul:not(.autocomplete):not(.list) li {
    color: #fff;
    background: #1469aa;
    padding: 6px;
    float: left;
    margin: 0 6px 6px 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    list-style: none;
}

    .fields ul:not(.autocomplete):not(.list) li a, .form_inputs ul:not(.autocomplete):not(.list) li a {
        color: #fff;
        float: right;
        margin: 0px 0px 0px 10px;
    }