﻿@model Orbelite.Erp.SitioWeb.ViewComponents.Usuario.MenuUsuarioInfoViewComponent.UsuarioInfo
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div id="kt_quick_user" class="offcanvas offcanvas-right p-10">
    <!--begin::Header-->
    <div class="offcanvas-header d-flex align-items-center justify-content-between pb-5">
        <h3 class="font-weight-bold m-0">
            Bienvenido
        </h3>
        <a href="#" class="btn btn-xs btn-icon btn-light btn-hover-primary" id="kt_quick_user_close">
            <i class="ki ki-close icon-xs text-muted"></i>
        </a>
    </div>
    <!--end::Header-->
    <!--begin::Content-->
    <div class="offcanvas-content pr-5 mr-n5">
        <!--begin::Header-->
        <div class="d-flex align-items-center mt-5">
            <div class="d-flex flex-column">
                <a href="#" class="font-weight-bold font-size-h5 text-dark-75 text-hover-primary">@Model.Nombre</a>
                <div class="navi mt-2">
                    <a href="@Url.Action("Logout", "Auth")" class="btn btn-sm btn-light-primary font-weight-bolder py-2 px-5">Cerrar Sesión</a>
                </div>
            </div>
        </div>
        <!--end::Header-->
        <!--begin::Separator-->
        <div class="separator separator-dashed mt-8 mb-5"></div>
        <!--end::Separator-->
        <!--begin::Nav-->
        <div class="navi navi-spacer-x-0 p-0">
            <!--begin::Item-->
            <a href="@Url.Page("/Admin/Me/Index")" class="navi-item">
                <div class="navi-link">
                    <div class="symbol symbol-40 bg-light mr-3">
                        <div class="symbol-label">
                            <span class="flaticon-user" style="font-size: 2rem;"></span>
                        </div>
                    </div>
                    <div class="navi-text">
                        <div class="font-weight-bold">Mi Perfil</div>
                    </div>
                </div>
            </a>
            <!--end:Item-->
        </div>
        <!--end::Nav-->
        <div class="separator separator-dashed mt-8 mb-5"></div>


        <div class="navi navi-spacer-x-0 p-0">
            <h5 class="mb-5">Apps</h5>
            <a href="@Url.Action("AppIbroker","Auth")" target="_blank" class="navi-item">
                <div class="navi-link">
                    <div class="symbol symbol-40 mr-3">
                        <img src="@Url.Content("~/images/ibroker_icon.png")" style="width:70px;height:auto;" />
                    </div>
                    <div class="navi-text">
                        <div class="font-weight-bold">Ibroker</div>
                        <div class="text-muted">¿Desea iniciar sesión en Ibroker?</div>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("AppInfraxion","Auth")" target="_blank" class="navi-item">
                <div class="navi-link">
                    <div class="symbol symbol-40 mr-3">
                        <img src="@Url.Content("~/images/logo_infraxion.png")" style="width:70px;height:auto;" />
                    </div>
                    <div class="navi-text">
                        <div class="font-weight-bold">Infraxión</div>
                        <div class="text-muted">¿Desea iniciar sesión en Infraxión?</div>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("AppXkaner","Auth")" target="_blank" class="navi-item">
                <div class="navi-link">
                    <div class="symbol symbol-40 mr-3">
                        <img src="@Url.Content("~/images/xkaner.png")" style="width:70px;height:auto;" />
                    </div>
                    <div class="navi-text">
                        <div class="font-weight-bold">Xkaner</div>
                        <div class="text-muted">¿Desea iniciar sesión en Xkaner?</div>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("AppKme","Auth")" target="_blank" class="navi-item">
                <div class="navi-link">
                    <div class="symbol symbol-40 mr-3">
                        <img src="@Url.Content("~/images/kme.png")" style="width:70px;height:auto;" />
                    </div>
                    <div class="navi-text">
                        <div class="font-weight-bold">Kme</div>
                        <div class="text-muted">¿Desea iniciar sesión en Kme?</div>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("AppAliados","Auth")" target="_blank" class="navi-item">
                <div class="navi-link">
                    <div class="symbol symbol-40 mr-3">
                        <img src="@Url.Content("~/images/icon_aliados.png")" style="width:70px;height:auto;" />
                    </div>
                    <div class="navi-text">
                        <div class="font-weight-bold">Alia2</div>
                        <div class="text-muted">¿Desea iniciar sesión en Alia2?</div>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("AppTaxiCoolmena","Auth")" target="_blank" class="navi-item">
                <div class="navi-link">
                    <div class="symbol symbol-40 mr-3">
                        <img src="@Url.Content("~/images/logo_infraxion.png")" style="width:70px;height:auto;" />
                    </div>
                    <div class="navi-text">
                        <div class="font-weight-bold">Taxi Coolmena</div>
                        <div class="text-muted">¿Desea iniciar sesión en Taxi Coolmena?</div>
                    </div>
                </div>
            </a>
            <!--end:Item-->
        </div>


        <!--begin::Separator-->
        <div class="separator separator-dashed my-7"></div>
        <!--end::Separator-->
    </div>
    <!--end::Content-->
</div>
