﻿@page
@model Orbelite.Erp.SitioWeb.Pages.Admin.Facturas.CargaDocumentosModel
@{
    ViewData["Title"] = "Busqueda por Nombres";
}
@section Titulo{
    <div class="d-flex align-items-center flex-wrap mr-1">
        <!--begin::Heading-->
        <div class="d-flex flex-column">
            <!--begin::Title-->
            <h2 class="text-white font-weight-bold my-2 mr-5">Documentos</h2>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <div class="d-flex align-items-center font-weight-bold my-2">
                <!--begin::Item-->
                <a href="#" class="opacity-75 hover-opacity-100">
                    <i class="icon-2x text-white-50 flaticon2-avatar"></i>
                </a>
                <!--end::Item-->
                <!--begin::Item-->
                @*<span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                    <a href="javascript:void(0)" class="text-white text-hover-white opacity-75 hover-opacity-100">Persona</a>*@
                <!--end::Item-->
                <!--begin::Item-->
                <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                <a href="javascript:void(0)" class="text-white text-hover-white opacity-75 hover-opacity-100">Administrar</a>
                <!--end::Item-->
            </div>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Heading-->
    </div>
}


@section Scripts
{
    <script src="~/js/Admin/Facturas/Index.js?dsgsdf=sdfgf"></script>
    <script src="~/lib/spinner/bootstrap-input-spinner.js?dsgsdf=sdfgf"></script>
}

<input type="hidden" id="__URL_SUBIR_DOCUMENTO" value="@Url.Content($"~/api/admin/factura/Factura/ValidarArchivo")" />
<input type="hidden" id="__URL_CARGAR_XMLS" value="@Url.Content($"~/api/admin/factura/Factura/CargaListaXml")" />
<input type="hidden" id="__URL_BUSQUEDA" value="@Url.Content("~/api/admin/factura/Factura/Busqueda")" />

<div class="row">
    <div class="col-xl-12">
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <i class="icon-2x text-dark-50 flaticon2-search-1"></i>
                    </span>
                    <h3 class="card-label">Carga de Archivos</h3>
                </div>
            </div>
            <div class="card-body col-md-6 col-12 align-self-center">

                <div class="col-12 row d-flex flex-wrap justify-content-start mb-lg-3 mb-1">
                    <label class="col-form-label text-lg-right align-self-center mr-lg-5 mr-3">Seleccione:</label>
                    <div class="align-self-center">
                        @using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data", id = "FormArchivo" }))
                        {
                            <div class="uppy">
                                <div class="uppy-wrapper">
                                    <div class="uppy-Root uppy-FileInput-container imgen-pagina">
                                        <input class="uppy-input-control" type="file" name="file" multiple="" data-height="100" accept=".zip,.rar,.7zip" id="btnSubirArchivo">
                                        <label class="dropzone-select btn btn-light-primary font-weight-bold btn-sm dz-clickable m-0" for="btnSubirArchivo">Subir Archivo</label>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-4">
                        <button type="reset" class="btn btn-success mr-2" id="btnGuardarXml" data-container="body" data-toggle="popover" data-placement="top" data-content="Guardar información">Procesar</button>
                    </div>
                    
                    <input type="hidden" id="__HD_URL_DOCUMENTO" />

                </div>




                <div class="form-group row">
                    <div class="col-2"></div>
                    <div class="col-md-10 align-self-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="chkHabilitado">
                            <label class="form-check-label text-right" for="chkHabilitado">
                                Sobreescribir las facturas
                            </label>
                        </div>
                    </div>
                </div>


                <div class="form-group row d-flex flex-wrap justify-content-start">
                    <div class="col-12">
                        <p id="loadingSucessoModal" style="display:none;text-align: left;padding: 4px 10px;border: 1px solid #b9c9f3;border-radius: 4px;color: #999;"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Validando documento...</p>
                        <div class="alert alert-danger m-0" id="infoErrorModal" role="alert" style="display: none;">
                            Ocurrio un problema al validar tu archivo
                        </div>
                        <div class="alert alert-success" id="infoSucesoModal" role="alert" style="display:none;">
                            Archivo validado correctamente
                        </div>
                    </div>
                    <div class="form-group mb-0 col-12" id="loadingSucesso" style="display:none;">
                        <p style="text-align: left;padding: 4px 10px;border: 1px solid #b9c9f3;border-radius: 4px;color: #999;"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Cargando...</p>
                    </div>
                    <div class="form-group mb-0 col-lg-5 col-md-8 col-12" id="msjError" style="display: none;">
                        <div class=" alert alert-danger" role="alert">
                            Datos no encontrados, ingrese correctamente o intente nuevamente
                        </div>
                    </div>
                </div>

                <div class="w-100">



                </div>
            </div>
        </div>
    </div>
</div>
