﻿@page
@model Orbelite.Erp.SitioWeb.Pages.Admin.Contabilidad.BusquedaNotaDebitoModel
@{
}
@section Titulo{
    <div class="d-flex align-items-center flex-wrap mr-1">
        <!--begin::Heading-->
        <div class="d-flex flex-column">
            <!--begin::Title-->
            <h2 class="text-white font-weight-bold my-2 mr-5">Búsqueda Nota Débito</h2>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <div class="d-flex align-items-center font-weight-bold my-2">
                <!--begin::Item-->
                <a href="#" class="opacity-75 hover-opacity-100">
                    <i class="icon-2x text-white-50 flaticon2-avatar"></i>
                </a>
                <!--end::Item-->
                <!--begin::Item-->
                @*<span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                    <a href="javascript:void(0)" class="text-white text-hover-white opacity-75 hover-opacity-100">Persona</a>*@
                <!--end::Item-->
                <!--begin::Item-->
                <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                <a href="javascript:void(0)" class="text-white text-hover-white opacity-75 hover-opacity-100">Administrar</a>
                <!--end::Item-->
            </div>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Heading-->
    </div>
}


@section Scripts
{
    <script src="~/js/Admin/Contabilidad/notaDebito.js?dsgsdf=sdfgf"></script>
    <script src="~/lib/spinner/bootstrap-input-spinner.js?dsgsdf=sdfgf"></script>
}

<input type="hidden" id="__URL_BUSQUEDA" value="@Url.Content("~/api/admin/factura/Factura/BusquedaNotaDebito")" />
<input type="hidden" id="__URL_DETALLE_NOTADEBITO" value="@Url.Page($"/Admin/Contabilidad/DetalleNotasDebito")" />

<div class="row">
    <div class="col-xl-12">
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <i class="icon-2x text-dark-50 flaticon2-search-1"></i>
                    </span>
                    <h3 class="card-label">Búsqueda Notas Dédito</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row" style="justify-content:center;margin-bottom:20px;">
                    <div class="col-md-2">
                        <label>N° Factura:</label>
                        <input type="text" class="form-control" placeholder="N° Factura" id="txtNroFactura">
                    </div>
                    <div class="col-md-2">
                        <label>Ruc: </label>
                        <input type="text" class="form-control" placeholder="Ruc Cliente" id="txtRuc">
                    </div>
                    <div class="col-md-3">
                        <label>Fecha de Emisión: </label>
                        <div class="input-group date" data-date-format="dd-mm-yyyy">
                            <input type="text" class="form-control" id="txtEmision" placeholder="Fecha de Emisión">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button id="btnBuscar" type="button" class="btn btn-primary mt-5"><i class="fas fa-search"></i> Buscar</button>
                        <button id="btnLimpiar" type="button" class="btn btn-danger mt-5"><i class="flaticon-cancel"></i> Limpiar</button>
                    </div>
                </div>
                <div class="w-100">



                    <div class="form-group mb-0 col-md-12" id="loadingSucesso" style="display:none;">
                        <p style="text-align: left;padding: 4px 10px;border: 1px solid #b9c9f3;border-radius: 4px;color: #999;"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Cargando...</p>
                    </div>
                    <div class="form-group mb-0 col-md-12" id="msjError" style="display:none;">
                        <div class=" alert alert-danger" role="alert">
                            Datos no encontrados, ingrese correctamente o intente nuevamente
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card card-custom gutter-b" id="resultadoTelefonoHtml" @*style="display:none;"*@>
            <div class="card-header">
                <div class="card-title col-12 p-0 d-flex flex-wrap justify-content-between">
                    <h3 class="card-label">Resultado</h3>
                    @*<div class="col-md-2 col-6 p-0">
                            <button class="btn btn-success w-100" id="btnNuevo">Añadir</button>
                        </div>*@
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-separate table-head-custom table-checkable" id="dataTableFactura" style="margin-top: 13px !important">
                        <thead>
                            <tr>
                                <th>Opciones</th>
                                <th>N° Nota Débito</th>
                                <th>Ruc Cliente</th>
                                <th>Razón Social Cliente</th>
                                <th>Fecha Emisión</th>
                                @*<th>Moneda</th>*@
                                <th>IGV</th>
                                <th>Valor Venta</th>
                                @*<th>ISC</th>
                                    <th>Otros Cargos</th>
                                    <th>Otros Tributos</th>
                                    <th>Valor Venta OG</th>
                                    <th>Tributos Cargos OG</th>*@
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

