﻿@page "{Id?}"
@model Orbelite.Erp.SitioWeb.Pages.Admin.Contabilidad.DetalleNotasCreditoModel
@{

    string nombreCompleto = Model.NotaCredito.Persona.Nombres + ' ' + Model.NotaCredito.Persona.Paterno + ' ' + Model.NotaCredito.Persona.Materno;

}
@section Titulo{
    <div class="d-flex align-items-center flex-wrap mr-1">
        <!--begin::Heading-->
        <div class="d-flex flex-column">
            <!--begin::Title-->
            <h2 class="text-white font-weight-bold my-2 mr-5">Detalle Nota Crédito</h2>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <div class="d-flex align-items-center font-weight-bold my-2">
                <!--begin::Item-->
                <a href="#" class="opacity-75 hover-opacity-100">
                    <i class="icon-2x text-white-50 flaticon2-avatar"></i>
                </a>
                <!--end::Item-->
                <!--begin::Item-->
                @*<span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                    <a href="javascript:void(0)" class="text-white text-hover-white opacity-75 hover-opacity-100">Persona</a>*@
                <!--end::Item-->
                <!--begin::Item-->
                <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                <a href="@Url.Page("/Admin/Contabilidad/BusquedaNotaCredito")" class="text-white text-hover-white opacity-75 hover-opacity-100">Búsqueda Notas Crédito</a>
                <!--end::Item-->
            </div>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Heading-->
    </div>
}

@section Scripts
{
    <script src="~/js/Admin/Contabilidad/detalleNotaCredito.js?dsgsdf=sdfgf"></script>
}

<input type="hidden" id="__URL_OCURRENCIA" value="@Url.Content("~/api/admin/entidad/Persona/BuscarOcurrencia")" />
<input type="hidden" id="__GET_DETALLE" value="@Url.Content("~/api/admin/entidad/Persona/DetalleDoc/")" />


@if (!string.IsNullOrEmpty(Model.NotaCredito.IdMoneda.ToString()))
{
    <input type="hidden" id="___ID_MONEDA" value="@Model.NotaCredito.IdMoneda" />
}

<div class="card card-custom">
    <!--begin::Header-->
    <div class="card-header card-header-tabs-line">
        <ul class="nav nav-dark nav-bold nav-tabs nav-tabs-line" data-remember-tab="tab_id" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#kt_builder_InfoGeneral" role="tab" aria-selected="true">Info General</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#kt_builder_Enlaces" role="tab" aria-selected="true">Detalle</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        <div class="tab-content pt-3">

            <div class="tab-pane active" id="kt_builder_InfoGeneral">
                <div class="w-100">

                    <fieldset class="mb-5">
                        <legend>Datos Cliente</legend>

                        <div class="form-group row">
                            <label class="col-form-label text-right col-md-2">
                                Documento
                            </label>
                            <div class="col-md-4">

                                <div class="typeahead">
                                    <input type="text" class="form-control" dir="ltr" placeholder="Documento" id="txtDocumento" value="@Model.NotaCredito.Persona.Documento">
                                </div>

                                <div class="w-100">
                                    <small id="txtDocumentoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row juridica">
                            <label class="col-form-label text-right col-md-2 ">
                                Razón Social
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Razon Social" id="txtRazonSocial" value="@Model.NotaCredito.Persona.RazonSocial" disabled>
                                <div class="w-100">
                                    <small id="txtRazonSocialHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row natural">
                            <label class="col-form-label text-right col-md-2">
                                Persona
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Persona" id="txtNombrePersona" value="@nombreCompleto" disabled>
                                <div class="w-100">
                                    <small id="txtNombrePersonaHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>
                        </div>


                        <div class="form-group row correox">
                            <label class="col-form-label text-right col-md-2">
                                Correo
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Correo" id="txtCorreo" value="@Model.NotaCredito.Persona.Correo" disabled>
                                <div class="w-100">
                                    <small id="txtCorreoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row telefonox">
                            <label class="col-form-label text-right col-md-2">
                                Telefono
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Telefono" id="txtTelefono" value="@Model.NotaCredito.Persona.Telefono" disabled>
                                <div class="w-100">
                                    <small id="txtTelefonoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-form-label text-right col-md-2">
                                Departamento
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Departamento" id="txtDepartamento" value="@Model.NotaCredito.Persona.Departamento" disabled>
                                <div class="w-100">
                                    <small id="txtDepartamentoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label text-right col-md-2">
                                Provincia
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Provincia" id="txtProvincia" value="@Model.NotaCredito.Persona.Provincia" disabled>
                                <div class="w-100">
                                    <small id="txtProvinciaHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label text-right col-md-2">
                                Distrito
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Distrito" id="txtDistrito" value="@Model.NotaCredito.Persona.Distrito" disabled>
                                <div class="w-100">
                                    <small id="txtDistritoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label text-right col-md-2">
                                Dirección
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Dirección" id="txtDireccion" value="@Model.NotaCredito.Persona.Direccion" disabled>
                                <div class="w-100">
                                    <small id="txtDireccionHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>
                        </div>

                    </fieldset>

                    <fieldset class="mb-5">
                        <legend>Datos Factura</legend>

                        <div class="form-group row">
                            <label class="col-form-label text-right col-md-2">
                                N° Nota Crédito
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Factura" id="txtSerieFactura" value="@Model.NotaCredito.Numero" readonly>
                                <div class="w-100">
                                    <small id="txtSerieFacturaHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>

                            <label class="col-form-label text-right col-md-2">
                                N° Factura
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Factura" id="txtSerieFactura" value="@Model.NotaCredito.Factura.Numero" readonly>
                                <div class="w-100">
                                    <small id="txtSerieFacturaHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-form-label text-right col-md-2">
                                Moneda
                            </label>
                            <div class="col-md-4">
                                <div class="input-group-prepend" style="width:100%;">
                                    <select id="ddlMoneda" class="form-control">
                                        <option value="1">Nuevo Sol</option>
                                        <option value="2">Dólar</option>
                                    </select>
                                </div>

                                <div class="w-100">
                                    <small id="txtCorreoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>
                            <label class="col-form-label text-right col-md-2">
                                Fecha Emisión
                            </label>
                            <div class="col-md-4">
                                <div class="input-group date" data-date-format="dd-mm-yyyy">
                                    <input type="text" class="form-control" id="txtEmision" placeholder="Fecha de Emisión" value="@Model.NotaCredito.FechaEmisionCadena" readonly>
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                </div>
                                @*<input type="text" class="form-control" placeholder="Fecha Emisión" id="txtFechaEmision" value="@Model.Factura.FechaEmisionCadena">*@
                                <div class="w-100">
                                    <small id="txtFechaEmisionHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>
                        </div>


                        @*<div class="form-group row">
                            <label class="col-form-label text-right col-md-2">
                                Moneda
                            </label>
                            <div class="col-md-4">
                                <div class="input-group-prepend" style="width:100%;">
                                    <select id="ddlMoneda" class="form-control">
                                        <option value="1">Nuevo Sol</option>
                                        <option value="2">Dólar</option>
                                    </select>
                                </div>

                                <div class="w-100">
                                    <small id="txtCorreoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>
                        </div>*@


                        <div class="form-group row">
                            <label class="col-form-label text-right col-md-2">
                                IGV
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control decimal" placeholder="IGV" id="txtIgv" value="@Model.NotaCredito.Igv" readonly>
                                <div class="w-100">
                                    <small id="txtIgvHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>
                            <label class="col-form-label text-right col-md-2">
                                Importe Total
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control decimal" placeholder="Importe Total" id="txtImporteTotal" value="@Model.NotaCredito.ImporteTotal" readonly>
                                <div class="w-100">
                                    <small id="txtImporteTotalHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label text-right col-md-2">Motivo:</label>
                            <div class="col-md-4">
                                <textarea class="form-control" rows="3" id="txtMotivo" style="resize:none;" maxlength="2000" readonly>@Model.NotaCredito.Motivo</textarea>
                                <small id="txtMotivoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                            </div>
                        </div>


                    </fieldset>

                    @*<div class="row form-group col-md-12">
                            <div class="col-md-2 col-6">
                                <button class="btn btn-success w-100" id="btnGrabar">Grabar</button>
                            </div>
                        </div>*@

                    <div class="form-group mb-0 col-md-12" id="loadingSucesso" style="display:none;">
                        <p style="text-align: left;padding: 4px 10px;border: 1px solid #b9c9f3;border-radius: 4px;color: #999;"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Cargando...</p>
                    </div>
                    <div class="form-group mb-0 col-md-12" id="msjError" style="display:none;">
                        <div class=" alert alert-danger" role="alert">
                            Datos no encontrados, ingrese correctamente o intente nuevamente
                        </div>
                    </div>

                </div>
            </div>

            <div class="tab-pane" id="kt_builder_Enlaces">

                @if (Model.DetalleNotaCredito.Count > 0)
                {
                    

                    <div class="row">
                        <fieldset class="col-12 mb-5">
                            <legend>Datos Nota Crédito</legend>

                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card card-custom gutter-b" id="resultadoTelefonoHtml" @*style="display:none;"*@>
                                        <div class="card-header">
                                            <div class="card-title col-12 p-0 d-flex flex-wrap justify-content-between">
                                                <h3 class="card-label">Detalle Nota Crédito</h3>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-separate table-head-custom table-checkable text-center" id="dataTableFactura" style="margin-top: 13px !important">
                                                    <thead>
                                                        <tr>
                                                            <th>Cantidad</th>
                                                            <th>Unidad Medida</th>
                                                            <th>Descripción</th>
                                                            <th>Valor Unitario</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @foreach (var item in Model.DetalleNotaCredito)
                                                        {
                                                            <tr>
                                                                <td>@item.Cantidad</td>
                                                                <td>No Especificado</td>
                                                                <td>@item.Producto.Descripcion</td>
                                                                <td>@item.Precio</td>
                                                            </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 row p-0">
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label class="col-form-label text-right col-md-4">
                                            Sub Total Ventas
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" placeholder="Sub Total Ventas" id="txtSubTotalVentas" value="@Model.NotaCredito.SubTotalVentas" readonly>
                                            <div class="w-100">
                                                <small id="txtIgvHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-form-label text-right col-md-4">
                                            Anticipos
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" placeholder="Anticipos" id="txtAnticipos" value="@Model.NotaCredito.Anticipos" readonly>
                                            <div class="w-100">
                                                <small id="txtImporteTotalHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-form-label text-right col-md-4">
                                            Descuentos
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" placeholder="Descuentos" id="txtDescuentos" value="@Model.NotaCredito.Descuentos" readonly>
                                            <div class="w-100">
                                                <small id="txtIgvHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-form-label text-right col-md-4">
                                            Valor Venta
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" placeholder="Valor Venta" id="txtValorVenta" value="@Model.NotaCredito.ValorVenta" readonly>
                                            <div class="w-100">
                                                <small id="txtImporteTotalHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-form-label text-right col-md-4">
                                            Monto de Redondeo
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" placeholder="Monto Redondeo" id="txtMontoRedondeo" value="@Model.NotaCredito.MontoDeRedondeo" readonly>
                                            <div class="w-100">
                                                <small id="txtIgvHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">

                                    <div class="form-group row">
                                        <label class="col-form-label text-right col-md-4">
                                            ISC
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" placeholder="ISC" id="txtIsc" value="@Model.NotaCredito.Isc" readonly>
                                            <div class="w-100">
                                                <small id="txtIgvHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-form-label text-right col-md-4">
                                            IGV
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" placeholder="IGV" id="txtIgv" value="@Model.NotaCredito.Igv" readonly>
                                            <div class="w-100">
                                                <small id="txtIgvHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-form-label text-right col-md-4">
                                            Otros Cargos
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" placeholder="Otros Cargos" id="txtOtrosCargos" value="@Model.NotaCredito.OtrosCargos" readonly>
                                            <div class="w-100">
                                                <small id="txtIgvHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-form-label text-right col-md-4">
                                            Otros Tributos
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" placeholder="Otros Tributos" id="txtOtrosTributos" value="@Model.NotaCredito.OtrosTributos" readonly>
                                            <div class="w-100">
                                                <small id="txtIgvHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-form-label text-right col-md-4">
                                            Importe Total
                                        </label>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" placeholder="Importe Total" id="txtImporteTotal" value="@decimal.Round(Model.NotaCredito.ImporteTotal, 2)" readonly>
                                            <div class="w-100">
                                                <small id="txtImporteTotalHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </fieldset>
                    </div>
                }
                else
                {
                    <div class="row w-100 text-center">
                        <h5>La nota de crédito no cuenta con un detalle.</h5>
                    </div>
                }

            </div>

        </div>
    </div>
</div>
