﻿@page
@model Orbelite.Erp.SitioWeb.Pages.Admin.Personas.BusquedaModel
@{
    ViewData["Title"] = "Busqueda por Nombres";
}
@section Titulo{
    <div class="d-flex align-items-center flex-wrap mr-1">
        <!--begin::Heading-->
        <div class="d-flex flex-column">
            <!--begin::Title-->
            <h2 class="text-white font-weight-bold my-2 mr-5">Búsqueda por Nombres</h2>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <div class="d-flex align-items-center font-weight-bold my-2">
                <!--begin::Item-->
                <a href="#" class="opacity-75 hover-opacity-100">
                    <i class="icon-2x text-white-50 flaticon2-avatar"></i>
                </a>
                <!--end::Item-->
                <!--begin::Item-->
                @*<span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                <a href="javascript:void(0)" class="text-white text-hover-white opacity-75 hover-opacity-100">Persona</a>*@
                <!--end::Item-->
                <!--begin::Item-->
                <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                <a href="javascript:void(0)" class="text-white text-hover-white opacity-75 hover-opacity-100">Búsqueda por Nombres</a>
                <!--end::Item-->
            </div>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Heading-->
    </div>
}


@section Scripts
{
    <script src="~/js/Admin/Entidad/Index.js?dsgsdf=sdfgf"></script>
}

<input type="hidden" id="__URL_REGISTRO_PERSONA" value="@Url.Content("~/api/admin/entidad/Persona/Registrar")" />

<input type="hidden" id="__URL_BUSQUEDA_DNI" value="@Url.Content($"~/api/admin/entidad/Persona/Consulta/")" />
<input type="hidden" id="__URL_BUSQUEDA_RUC" value="@Url.Content($"~/api/admin/entidad/Persona/ConsultaRuc/")" />
<input type="hidden" id="__URL_BUSQUEDA" value="@Url.Content("~/api/admin/entidad/Persona/Busqueda")" />
<input type="hidden" id="__GET_PERSONA" value="@Url.Content("~/api/admin/entidad/Persona/ObtenerPersona")" />
<input type="hidden" id="__URL_ELIMINAR" value="@Url.Content("~/api/admin/entidad/Persona/Eliminar")" />
<input type="hidden" id="__URL_BUSQUEDA_PERSONA" value="@Url.Page($"/Admin/Personas/DetallePersona")" />
<input type="hidden" id="__GET_DETALLE" value="@Url.Content("~/api/admin/entidad/Persona/Detalle")" />

<div class="row">
    <div class="col-xl-12">
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <i class="icon-2x text-dark-50 flaticon2-search-1"></i>
                    </span>
                    <h3 class="card-label">Búsqueda Personas</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row" style="justify-content:center;margin-bottom:20px;">
                    <div class="col-md-2">
                        <label>Documento:</label>
                        <input type="text" class="form-control" placeholder="Documento" id="txtDocumento">
                    </div>
                    <div class="col-md-3">
                        <label>Nombres: </label>
                        <input type="text" class="form-control" placeholder="Nombres" id="txtNombres">
                    </div>
                    <div class="col-md-2">
                        <label>Paterno: </label>
                        <input type="text" class="form-control" placeholder="Apellido Paterno" id="txtApellidoPaterno">
                    </div>
                    <div class="col-md-2">
                        <label>Materno:</label>
                        <input type="text" class="form-control" placeholder="Apellido Materno" id="txtApellidoMaterno">
                    </div>
                    <div class="col-md-3">
                        <label> Razon Social:</label>
                        <input type="text" class="form-control" placeholder="Razon Social" id="txtRazonSocial">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button id="btnBuscar" type="button" class="btn btn-primary mt-5"><i class="fas fa-search"></i> Buscar</button>
                        <button id="btnLimpiar" type="button" class="btn btn-danger mt-5"><i class="flaticon-cancel"></i> Limpiar</button>
                    </div>
                </div>
                <div class="w-100">



                    <div class="form-group mb-0 col-md-12" id="loadingSucesso" style="display:none;">
                        <p style="text-align: left;padding: 4px 10px;border: 1px solid #b9c9f3;border-radius: 4px;color: #999;"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Cargando...</p>
                    </div>
                    <div class="form-group mb-0 col-md-12" id="msjError" style="display:none;">
                        <div class=" alert alert-danger" role="alert">
                            Datos no encontrados, ingrese correctamente o intente nuevamente
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="card card-custom gutter-b" id="resultadoTelefonoHtml" @*style="display:none;"*@>
            <div class="card-header">
                <div class="card-title col-12 p-0 d-flex flex-wrap justify-content-between">
                    <h3 class="card-label">Resultado</h3>
                    <div class="col-md-2 col-6 p-0">
                        <button class="btn btn-success w-100" id="btnNuevo">Añadir</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-separate table-head-custom table-checkable" id="dataTablePersona" style="margin-top: 13px !important">
                        <thead>
                            <tr>
                                <th>Opciones</th>
                                <th>Documento</th>
                                <th>Tipo</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="verPersonaModal" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Persona</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group row">
                    <label class="col-form-label text-right col-md-2">Tipo:</label>
                    <div class="col-md-4">
                        <div class="input-group-prepend" style="width:100%;">
                            <select id="ddlTipo" class="form-control">
                                <option value="100">Persona Natural</option>
                                <option value="101">Persona Jurídica</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label text-right col-md-2">Documento:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="tbmDocumento">
                        <small id="tbmDocumentoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                    </div>
                    <div class="col-md-4">
                        <button id="btnBuscarDni" type="button" class="btn btn-primary mt-md-0 mt-5"><i class="fas fa-search"></i> Buscar</button>
                    </div>
                    @*BORRAR*@
                    <div class="col-md-8 mt-md-2 mt-5" id="loadingSucessoModal" style="display:none;">
                        <p style="margin-bottom: 0 !important; text-align: left;padding: 4px 10px;border: 1px solid #b9c9f3;border-radius: 4px;color: #999;"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Cargando...</p>
                    </div>
                    @*<div class="form-group mb-0 col-md-12" id="msjError" style="display:none;">
                        <div class=" alert alert-danger" role="alert">
                            Documento no encontrado, ingrese correctamente o intente nuevamente
                        </div>
                    </div>*@
                    @*BORRAR*@
                </div>

                <div class="form-group row">
                    <label class="col-form-label text-right col-md-2 natural">Nombres:</label>
                    <div class="col-md-4 natural">
                        <input type="text" class="form-control" id="tbmNombres">
                        <small id="tbmNombresHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                    </div>

                    <label class="col-form-label text-right col-md-2 juridica">Razon Social:</label>
                    <div class="col-md-4 juridica">
                        <input type="text" class="form-control" id="tbmRazon">
                        <small id="tbmRazonHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                    </div>
                </div>

                <div class="form-group row natural">
                    <label class="col-form-label text-right col-md-2">Paterno:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="tbmPaterno">
                        <small id="tbmPaternoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                    </div>
                    <label class="col-form-label text-right col-md-2">Materno:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="tbmMaterno">
                        <small id="tbmMaternoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label text-right col-md-2">Correo:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="tbmCorreo">
                        <small id="tbmCorreoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                    </div>
                    <label class="col-form-label text-right col-md-2">Telefono:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="tbmTelefono">
                        <small id="tbmTelefonoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                    </div>
                </div>

            </div>
            <div class="modal-footer border-0">
                <button type="reset" class="btn btn-secondary" data-dismiss="modal" data-container="body" data-toggle="popover" data-placement="top" data-content="Cancelar y Cerrar">Cerrar</button>
                <button class="btn btn-success" id="btnGuardar">Añadir</button>
            </div>
        </div>
    </div>
</div>

