﻿@page "{Id?}"
@model Orbelite.Erp.SitioWeb.Pages.Admin.Personas.DetallePersonaModel
@{
    ViewData["Title"] = "Busqueda por Nombres";
}
@section Titulo{
    <div class="d-flex align-items-center flex-wrap mr-1">
        <!--begin::Heading-->
        <div class="d-flex flex-column">
            <!--begin::Title-->
            <h2 class="text-white font-weight-bold my-2 mr-5">Búsqueda por Nombres</h2>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <div class="d-flex align-items-center font-weight-bold my-2">
                <!--begin::Item-->
                <a href="#" class="opacity-75 hover-opacity-100">
                    <i class="icon-2x text-white-50 flaticon2-avatar"></i>
                </a>
                <!--end::Item-->
                <!--begin::Item-->
                <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                <a href="@Url.Page("/Admin/Personas/Busqueda")" class="text-white text-hover-white opacity-75 hover-opacity-100">Búsqueda por Nombres</a>
                <!--end::Item-->
                <!--begin::Item-->
                <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                <a href="javascript:void(0)" class="text-white text-hover-white opacity-75 hover-opacity-100">Detalle</a>
                <!--end::Item-->
            </div>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Heading-->
    </div>
}


@section Scripts
{
    <script src="~/js/Admin/Entidad/DetallePersona.js?dsgsdf=sdfgf"></script>
}

<input type="hidden" id="__URL_REGISTRO_PERSONA" value="@Url.Content("~/api/admin/entidad/Persona/Registrar")" />
<input type="hidden" id="__URL_EDITAR_PERSONA" value="@Url.Content("~/api/admin/entidad/Persona/Editar")" />
<input type="hidden" id="__URL_PRINCIPAL" value="@Url.Page($"/Admin/Consultas/BusquedaPersona")" />
<input type="hidden" id="__URL_BUSCAR_PROVINCIAS" value="@Url.Content($"~/api/general/Ubigeo/Provincias")" />
<input type="hidden" id="__URL_BUSCAR_DISTRITOS" value="@Url.Content($"~/api/general/Ubigeo/Distritos")" />

<input type="hidden" id="__ID_BUSQUEDA" value="@ViewData["Id"]" />


@if (!string.IsNullOrEmpty(Model.Persona.IdTipo.ToString()))
{
    <input type="hidden" id="___ID_TIPO" value="@Model.Persona.IdTipo" />
}

@if (!string.IsNullOrEmpty(Model.Persona.Id))
{
    <input type="hidden" id="___ID" value="@Model.Persona.Id" />
}

<div class="row">
    <div class="col-xl-12">
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <i class="icon-2x text-dark-50 flaticon2-search-1"></i>
                    </span>
                    <h3 class="card-label">Detalle Persona</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="w-100">

                    <fieldset class="mb-5">
                        <legend>Datos Generales</legend>
                        <div class="form-group row">
                            <label class="col-form-label text-right col-md-2">
                                Tipo Persona
                            </label>
                            <div class="col-md-4">
                                <div class="input-group-prepend" style="width:100%;">
                                    <select id="ddlTipo" class="form-control">
                                        <option value="100">Persona Natural</option>
                                        <option value="101">Persona Jurídica</option>
                                    </select>
                                </div>

                                @*<div class="w-100">
                                        <small id="txtDocumentoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                    </div>*@
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label text-right col-md-2">
                                Documento
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Documento" id="txtDocumento" value="@Model.Persona.Documento">
                                <div class="w-100">
                                    <small id="txtDocumentoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>
                            <label class="col-form-label text-right col-md-2 natural">
                                Nombres
                            </label>
                            <div class="col-md-4 natural">
                                <input type="text" class="form-control" placeholder="Nombres" id="txtNombres" value="@Model.Persona.Nombres">
                                <div class="w-100">
                                    <small id="txtNombresHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row juridica">
                            <label class="col-form-label text-right col-md-2 juridica">
                                Razón Social
                            </label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="Razon Social" id="txtRazonSocial" value="@Model.Persona.RazonSocial">
                                <div class="w-100">
                                    <small id="txtRazonSocialHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row natural">
                            <label class="col-form-label text-right col-md-2">
                                Paterno
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Apellido Materno" id="txtApellidoPaterno" value="@Model.Persona.Paterno">
                                <div class="w-100">
                                    <small id="txtApellidoPaternoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>
                            <label class="col-form-label text-right col-md-2">
                                Materno
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Apellido Materno" id="txtApellidoMaterno" value="@Model.Persona.Materno">
                                <div class="w-100">
                                    <small id="txtApellidoMaternoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label text-right col-md-2">
                                Teléfono
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Telefono" id="txtTelefono" value="@Model.Persona.Telefono">
                                <div class="w-100">
                                    <small id="txtTelefonoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>
                            <label class="col-form-label text-right col-md-2">
                                Correo
                            </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Correo" id="txtCorreo" value="@Model.Persona.Correo">
                                <div class="w-100">
                                    <small id="txtCorreoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>
                        </div>


                        <!--<div class="row form-group col-md-12">-->
                        @*<label class="col-1 col-form-label text-right">Nombres</label>*@
                        <!--<div class="col-md-3 col-12 natural">
                            <input type="text" class="form-control" placeholder="Nombres" id="txtNombres" value="@Model.Persona.Nombres">
                            <div class="w-100">
                                <small id="txtNombresHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                            </div>
                        </div>-->
                        @*<label class="col-1 col-form-label text-right">Apellido Paterno</label>*@
                        <!--<div class="col-sm-3 col-12 natural">
                            <input type="text" class="form-control" placeholder="Apellido Paterno" id="txtApellidoPaterno" value="@Model.Persona.Paterno">
                            <div class="w-100">
                                <small id="txtApellidoPaternoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                            </div>
                        </div>-->
                        @*<label class="col-1 col-form-label text-right">Apellido Materno</label>*@
                        <!--<div class="col-sm-3 col-12 natural">
                            <input type="text" class="form-control" placeholder="Apellido Materno" id="txtApellidoMaterno" value="@Model.Persona.Materno">
                            <div class="w-100">
                                <small id="txtApellidoMaternoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                            </div>
                        </div>-->
                        @*<label class="col-1 col-form-label text-right">Nombres</label>*@
                        <!--<div class="col-md-3 col-12 juridica">
                                <input type="text" class="form-control" placeholder="Razon Social" id="txtRazonSocial" value="@Model.Persona.RazonSocial">
                                <div class="w-100">
                                    <small id="txtRazonSocialHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>

                        </div>-->



                    </fieldset>

                    <fieldset class="mb-5">
                        <legend>Ubicación</legend>
                        <div class="form-group row">
                            <label class="col-form-label text-right col-md-2">
                                Departamento
                            </label>
                            <div class="col-md-4">
                                <select id="ddlUbigeoDepatamento" class="form-control">

                                    @if (Model.Persona.Departamento != null)
                                    {
                                        @*<option value="">Todos</option>*@
                                        @foreach (var item in Model.Departamentos)
                                        {
                                            if (item.Nombre.Equals(Model.Persona.Departamento))
                                            {
                                                <option value="@item.Nombre" selected>@item.Nombre</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Nombre">@item.Nombre</option>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <option value="" selected>Todos</option>
                                        @foreach (var item in Model.Departamentos)
                                        {
                                            <option value="@item.Nombre">@item.Nombre</option>
                                        }
                                    }

                                </select>
                                <div class="w-100">
                                    <small id="txtDepartamentoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-form-label text-right col-md-2">
                                Provincia
                            </label>
                            <div class="col-md-4">
                                @if (Model.Provincias.Count > 0)
                                {
                                    <select id="ddlUbigeoProvincias" class="form-control">
                                        @foreach (var item in Model.Provincias)
                                        {
                                            if (item.Nombre.Equals(Model.Persona.Provincia))
                                            {
                                                <option value="@item.Nombre" selected>@item.Nombre</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Nombre">@item.Nombre</option>
                                            }
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select id="ddlUbigeoProvincias" class="form-control" disabled>
                                        <option value="" selected>Todos</option>
                                    </select>
                                }


                                <div class="w-100">
                                    <small id="txtProvinciaHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <label class="col-form-label text-right col-md-2">
                                Distrito
                            </label>
                            <div class="col-md-4">
                                @if (Model.Distritos.Count > 0)
                                {
                                    <select id="ddlUbigeoDistritos" class="form-control">
                                        @foreach (var item in Model.Distritos)
                                        {
                                            if (item.Nombre.Equals(Model.Persona.Distrito))
                                            {
                                                <option value="@item.Nombre" selected>@item.Nombre</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Nombre">@item.Nombre</option>
                                            }
                                        }
                                    </select>
                                }
                                else
                                {
                                    <select id="ddlUbigeoDistritos" class="form-control" disabled>
                                        <option value="" selected>Todos</option>
                                    </select>
                                }

                                <div class="w-100">
                                    <small id="txtDistritoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-form-label text-right col-md-2">
                                Dirección
                            </label>
                            <div class="col-md-4">


                                <!-- <div class="row form-group col-md-12"> -->
                                <!-- <div class="col-md-6 col-12"> -->
                                <input type="text" class="form-control" placeholder="Dirección" id="txtDireccion" value="@Model.Persona.Direccion">
                                <div class="w-100">
                                    <small id="txtDireccionHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                                </div>
                                <!-- </div> -->

                            </div>
                        </div>


                    </fieldset>

                    <div class="row form-group col-md-12">
                        <div class="col-md-2 col-6">
                            <button class="btn btn-success w-100" id="btnGrabar">Grabar</button>
                        </div>
                        @*<div class="col-md-2 col-6">
                                <button class="btn btn-success w-100" id="btnLimpiar">Limpiar</button>
                            </div>*@
                    </div>

                    <div class="form-group mb-0 col-md-12" id="loadingSucesso" style="display:none;">
                        <p style="text-align: left;padding: 4px 10px;border: 1px solid #b9c9f3;border-radius: 4px;color: #999;"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Cargando...</p>
                    </div>
                    <div class="form-group mb-0 col-md-12" id="msjError" style="display:none;">
                        <div class=" alert alert-danger" role="alert">
                            Datos no encontrados, ingrese correctamente o intente nuevamente
                        </div>
                    </div>
                    @*<div class="alert alert-success" id="infoSucesoModal" role="alert" style="display:none;">
                            Archivo validado correctamente
                        </div>*@

                </div>
            </div>
        </div>
    </div>
</div>
