﻿@page
@model Orbelite.Erp.SitioWeb.Pages.Admin.Notificaciones.BusquedaNotificacionModel
@{
    ViewData["Title"] = "Busqueda por Nombres";
}
@section Titulo{
    <div class="d-flex align-items-center flex-wrap mr-1">
        <!--begin::Heading-->
        <div class="d-flex flex-column">
            <!--begin::Title-->
            <h2 class="text-white font-weight-bold my-2 mr-5">Notificaciones</h2>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <div class="d-flex align-items-center font-weight-bold my-2">
                <!--begin::Item-->
                <a href="#" class="opacity-75 hover-opacity-100">
                    <i class="icon-2x text-white-50 flaticon2-avatar"></i>
                </a>
                <!--end::Item-->
                <!--begin::Item-->
                @*<span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                    <a href="javascript:void(0)" class="text-white text-hover-white opacity-75 hover-opacity-100">Persona</a>*@
                <!--end::Item-->
                <!--begin::Item-->
                <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                <a href="javascript:void(0)" class="text-white text-hover-white opacity-75 hover-opacity-100">Búsqueda</a>
                <!--end::Item-->
            </div>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Heading-->
    </div>
}


@section Scripts
{
    <script src="~/js/Admin/Notificacion/indexNotificacion.js?dsgsdf=sdfgf"></script>

    <script src="~/lib/spinner/bootstrap-input-spinner.js?dsgsdf=sdfgf"></script>
}
<input type="hidden" id="__ID_NOTIFICACION" value="0" />


<input type="hidden" id="__URL_BUSQUEDA" value="@Url.Content("~/api/admin/notificacion/Notificacion/BusquedaNotificacion")" />
<input type="hidden" id="__URL_REGISTRO_NOTIFICACION" value="@Url.Content("~/api/admin/notificacion/Notificacion/RegistrarNotificacion")" />
<input type="hidden" id="__URL_EDITAR_NOTIFICACION" value="@Url.Content("~/api/admin/notificacion/Notificacion/EditarNotificacion")" />
<input type="hidden" id="__URL_ELIMINAR_NOTIFICACION" value="@Url.Content("~/api/admin/notificacion/Notificacion/EliminarNotificacion")" />

<input type="hidden" id="__URL_OCURRENCIA" value="@Url.Content("~/api/admin/entidad/Persona/BuscarOcurrencia")" />
<input type="hidden" id="__GET_DETALLE" value="@Url.Content("~/api/admin/notificacion/Notificacion/Detalle/")" />



<div class="row">
    <div class="col-xl-12">
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <i class="icon-2x text-dark-50 flaticon2-search-1"></i>
                    </span>
                    <h3 class="card-label">Búsqueda Notificaciones</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row" style="justify-content:center;margin-bottom:20px;">
                    <div class="col-md-4">
                        <label>Nombre:</label>

                        <div class="typeahead">
                            <input type="text" class="form-control" dir="ltr" placeholder="Nombre" id="txtNombre">
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button id="btnBuscar" type="button" class="btn btn-primary mt-5"><i class="fas fa-search"></i> Buscar</button>
                        <button id="btnLimpiar" type="button" class="btn btn-danger mt-5"><i class="flaticon-cancel"></i> Limpiar</button>
                    </div>
                </div>
                <div class="w-100">



                    <div class="form-group mb-0 col-md-12" id="loadingSucesso" style="display:none;">
                        <p style="text-align: left;padding: 4px 10px;border: 1px solid #b9c9f3;border-radius: 4px;color: #999;"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Cargando...</p>
                    </div>
                    <div class="form-group mb-0 col-md-12" id="msjError" style="display:none;">
                        <div class=" alert alert-danger" role="alert">
                            Datos no encontrados, ingrese correctamente o intente nuevamente
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="card card-custom gutter-b" id="resultadoTelefonoHtml" @*style="display:none;"*@>
            <div class="card-header">
                <div class="card-title col-12 p-0 d-flex flex-wrap justify-content-between">
                    <h3 class="card-label">Resultado</h3>
                    <div class="col-md-2 col-6 p-0">
                        <button class="btn btn-success w-100" id="btnNuevo">Añadir</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-separate table-head-custom table-checkable text-center" id="dataTableContacto" style="margin-top: 13px !important">
                        <thead>
                            <tr>
                                <th>Opciones</th>
                                <th>Nombre</th>
                                <th>Días</th>
                                <th>De Sistema</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="verProductoModal" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Notificación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">

                <div class="w-100">

                    <div class="form-group row">
                        <label class="col-form-label text-right col-md-2">
                            Descripción
                        </label>
                        <div class="col-md-6">

                            <div class="typeahead">
                                <input type="text" class="form-control" dir="ltr" placeholder="Descripción" id="txtDescripcion" value="">
                            </div>

                            <div class="w-100">
                                <small id="txtDescripcionHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label text-right col-md-2">Tipo Alerta:</label>
                        <div class="col-md-4">
                            <div class="input-group-prepend" style="width:100%;">
                                <select id="ddlTipo" class="form-control">
                                    <option value="10">Días Antes</option>
                                    <option value="20">Mismo Día</option>
                                    <option value="30">Días Después</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row nroDias">
                        <label class="col-form-label text-right col-md-2">N° de Días:</label>
                        <div class="col-md-4">
                            <input id="tbmCantidad" type="number" min="0" value="0" />
                            <small id="tbmCantidadHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                        </div>
                    </div>

                </div>


                <div class="form-group row">
                    @*<div class="col-1"></div>*@
                    <div class="ml-lg-10 ml-3 col-md-10 align-self-center">
                        @*<div class="form-check">
            <input class="form-check-input" type="checkbox" id="chkHabilitado">
            <label class="form-check-label text-right" for="chkHabilitado">
                Es de Sistema
            </label>
        </div>*@
                        <small id="txtFeedHtml" class="form-text text-muted-validacion"></small>

                    </div>
                </div>

            </div>
            <div class="modal-footer border-0">
                <button type="reset" class="btn btn-secondary" data-dismiss="modal" data-container="body" data-toggle="popover" data-placement="top" data-content="Cancelar y Cerrar">Cerrar</button>
                <button class="btn btn-success" id="btnGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>

