﻿@page
@model Orbelite.Erp.SitioWeb.Pages.Admin.Notificaciones.BusquedaModel
@{
    ViewData["Title"] = "Busqueda por Nombres";
}
@section Titulo{
    <div class="d-flex align-items-center flex-wrap mr-1">
        <!--begin::Heading-->
        <div class="d-flex flex-column">
            <!--begin::Title-->
            <h2 class="text-white font-weight-bold my-2 mr-5">Contactos</h2>
            <!--end::Title-->
            <!--begin::Breadcrumb-->
            <div class="d-flex align-items-center font-weight-bold my-2">
                <!--begin::Item-->
                <a href="#" class="opacity-75 hover-opacity-100">
                    <i class="icon-2x text-white-50 flaticon2-avatar"></i>
                </a>
                <!--end::Item-->
                <!--begin::Item-->
                @*<span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                    <a href="javascript:void(0)" class="text-white text-hover-white opacity-75 hover-opacity-100">Persona</a>*@
                <!--end::Item-->
                <!--begin::Item-->
                <span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
                <a href="javascript:void(0)" class="text-white text-hover-white opacity-75 hover-opacity-100">Búsqueda</a>
                <!--end::Item-->
            </div>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Heading-->
    </div>
}


@section Scripts
{
    <script src="~/js/Admin/Notificacion/Index.js?dsgsdf=sdfgf"></script>

    <script src="~/lib/spinner/bootstrap-input-spinner.js?dsgsdf=sdfgf"></script>
}
<input type="hidden" id="__ID_CONTACTO" value="0" />


<input type="hidden" id="__URL_BUSQUEDA" value="@Url.Content("~/api/admin/notificacion/Notificacion/Busqueda")" />
<input type="hidden" id="__URL_REGISTRO_CONTACTO" value="@Url.Content("~/api/admin/notificacion/Notificacion/Registrar")" />
<input type="hidden" id="__URL_EDITAR_CONTACTO" value="@Url.Content("~/api/admin/notificacion/Notificacion/Editar")" />
@*<input type="hidden" id="__GET_DETALLE" value="@Url.Content("~/api/admin/inventario/Producto/Detalle")" />*@
@*<input type="hidden" id="__URL_ELIMINAR" value="@Url.Content("~/api/admin/inventario/Producto/Eliminar")" />*@
@*<input type="hidden" id="__URL_OCURRENCIA" value="@Url.Content("~/api/admin/inventario/Producto/BuscarOcurrencia")" />|*@

@*<input type="hidden" id="__URL_BUSQUEDA" value="@Url.Content("~/api/admin/factura/Factura/BusquedaDetalleFactura")" />*@
<input type="hidden" id="__URL_OCURRENCIA" value="@Url.Content("~/api/admin/entidad/Persona/BuscarOcurrencia")" />
<input type="hidden" id="__GET_DETALLE" value="@Url.Content("~/api/admin/entidad/Persona/DetalleDoc/")" />



<div class="row">
    <div class="col-xl-12">
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <span class="card-icon">
                        <i class="icon-2x text-dark-50 flaticon2-search-1"></i>
                    </span>
                    <h3 class="card-label">Búsqueda Contactos</h3>
                </div>
            </div>
            <div class="card-body">
                <div class="row" style="justify-content:center;margin-bottom:20px;">
                    <div class="col-md-4">
                        <label>Documento:</label>

                        <div class="typeahead">
                            <input type="text" class="form-control" dir="ltr" placeholder="Documento" id="txtDoc">
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button id="btnBuscar" type="button" class="btn btn-primary mt-5"><i class="fas fa-search"></i> Buscar</button>
                        <button id="btnLimpiar" type="button" class="btn btn-danger mt-5"><i class="flaticon-cancel"></i> Limpiar</button>
                    </div>
                </div>
                <div class="w-100">



                    <div class="form-group mb-0 col-md-12" id="loadingSucesso" style="display:none;">
                        <p style="text-align: left;padding: 4px 10px;border: 1px solid #b9c9f3;border-radius: 4px;color: #999;"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Cargando...</p>
                    </div>
                    <div class="form-group mb-0 col-md-12" id="msjError" style="display:none;">
                        <div class=" alert alert-danger" role="alert">
                            Datos no encontrados, ingrese correctamente o intente nuevamente
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="card card-custom gutter-b" id="resultadoTelefonoHtml" @*style="display:none;"*@>
            <div class="card-header">
                <div class="card-title col-12 p-0 d-flex flex-wrap justify-content-between">
                    <h3 class="card-label">Resultado</h3>
                    <div class="col-md-2 col-6 p-0">
                        <button class="btn btn-success w-100" id="btnNuevo">Añadir</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-separate table-head-custom table-checkable text-center" id="dataTableContacto" style="margin-top: 13px !important">
                        <thead>
                            <tr>
                                <th>Opciones</th>
                                <th>Documento</th>
                                <th>Nombres</th>
                                <th>En Vencimiento</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="verProductoModal" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Contacto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">

                <div class="w-100">

                    <div class="form-group row">
                        <label class="col-form-label text-right col-md-2">
                            Documento
                        </label>
                        <div class="col-md-4">

                            <div class="typeahead">
                                <input type="text" class="form-control" dir="ltr" placeholder="Documento" id="txtDocumento" value="">
                            </div>

                            <div class="w-100">
                                <small id="txtDocumentoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                            </div>
                        </div>
                    </div>



                    <div class="form-group row juridica">
                        <label class="col-form-label text-right col-md-2 ">
                            Razón Social
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Razon Social" id="txtRazonSocial" value="" disabled>
                            <div class="w-100">
                                <small id="txtRazonSocialHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row natural">
                        <label class="col-form-label text-right col-md-2">
                            Persona
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Persona" id="txtNombrePersona" value="" disabled>
                            <div class="w-100">
                                <small id="txtNombrePersonaHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row correox">
                        <label class="col-form-label text-right col-md-2">
                            Correo
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Correo" id="txtCorreo" value="" disabled>
                            <div class="w-100">
                                <small id="txtCorreoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row telefonox">
                        <label class="col-form-label text-right col-md-2">
                            Telefono
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Telefono" id="txtTelefono" value="" disabled>
                            <div class="w-100">
                                <small id="txtTelefonoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                            </div>
                        </div>
                    </div>


                    @*<div class="form-group row">
                        <label class="col-form-label text-right col-md-2">
                            Departamento
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Departamento" id="txtDepartamento" value="" disabled>
                            <div class="w-100">
                                <small id="txtDepartamentoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label text-right col-md-2">
                            Provincia
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Provincia" id="txtProvincia" value="" disabled>
                            <div class="w-100">
                                <small id="txtProvinciaHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label text-right col-md-2">
                            Distrito
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Distrito" id="txtDistrito" value="" disabled>
                            <div class="w-100">
                                <small id="txtDistritoHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label text-right col-md-2">
                            Dirección
                        </label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="Dirección" id="txtDireccion" value="" disabled>
                            <div class="w-100">
                                <small id="txtDireccionHtml" class="form-text text-muted-validacion text-danger ocultar"></small>
                            </div>
                        </div>
                    </div>*@

                </div>


                <div class="form-group row">
                    <div class="col-2"></div>
                    <div class="col-md-10 align-self-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="chkHabilitado">
                            <label class="form-check-label text-right" for="chkHabilitado">
                                Notificaciones para vencimiento de facturas
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer border-0">
                <button type="reset" class="btn btn-secondary" data-dismiss="modal" data-container="body" data-toggle="popover" data-placement="top" data-content="Cancelar y Cerrar">Cerrar</button>
                <button class="btn btn-success" id="btnGuardar">Guardar</button>
            </div>
        </div>
    </div>
</div>

